{
  "extends": "airbnb-base",
  "rules": {
    "handle-callback-err": [1, "err"],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-use-before-define": ["error", { "functions": false }],
    "radix": [1, "as-needed"],
    "strict": [2, "global"]
    }
}
